/* General styles for body and buttons */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Bebas Neue', 'Lato', sans-serif;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.cookie-banner.hide {
    transform: translateY(100%); /* Desliza hacia abajo */
    opacity: 0; /* Desaparece gradualmente */
}

.cookie-banner-content {
    max-width: 800px;
    margin: 0 auto;
}

.cookie-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff9800;
}

.cookie-text {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #dedede;
}

.cookie-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cookie-btn {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cookie-btn.aceptar {
    background-color: #bf2222;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
}

.cookie-btn.aceptar:hover {
    background-color: #ffffff;
    color: #3d2514;
    border: 2px solid #bf2222;
}

.cookie-btn.rechazar {
    background-color: #dedede;
    color: #222222;
}

.cookie-btn.rechazar:hover {
    background-color: #ffffff;
    color: #3d2514;
    border: 2px solid #bf2222;
}
